.aside--content-position {
    padding-top: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40px;
}

.aside--content-position>ul {
    display: none;
}

@media screen and (min-device-width: 1120px) {
    .aside--content-position {
        justify-content: space-between;
        width: 100%;
    }
    .aside--content-position>ul {
        display: flex;
    }

}