@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: 400;
    src: local("TT Lakes"),
    url(fonts/TTLakes-Regular.woff) format("woff");
}

.language__link {
    font-family: "TT Lakes";
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.language__link:hover {
    opacity: 0.7;
}