@import url("stylefonts.css");

.language__link {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.language__link:hover {
    opacity: 0.7;
}