.menu {
    margin: 0;
    padding: 24px 0 0 16px;
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: scroll;
    min-height: 70px;
}

.menu::-webkit-scrollbar {
    width: 0;
}

@media screen and (min-device-width: 1120px){
    .menu {
        overflow: visible;
        flex-wrap: wrap;
    }
}

