@font-face {
    font-family: "TTLakes-Bold";
    font-style: normal;
    font-weight: bold;
    src: local("TTLakes-Bold"),
    url(fonts/TTLakes-Bold.woff) format("woff");
}

.sidebar__phone-number {
    font-family: "TTLakes-Bold";
    font-size: 24px;
}