@import url("/stylefonts.css");

.sidebar__link {
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    line-height: 32px;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    color: #1B1C21;
    padding-left: 24px;
    height: 32px;
}

.sidebar__link:hover {
    opacity: 0.6;
    transition: 0.5s;
}

.sidebar__link:not(:hover) {
    opacity: 1;
    transition: 0.5s;
}


