@import url("stylefonts.css");

.text {
    padding: 0 16px 0 16px;
}

.text p {
    margin-top: 0;
    font-family: "TT Lakes", sans-serif;
}

@media screen and (min-device-width: 768px) {
    .text {
        padding: 0 48px 0 24px;
        min-width: 312px;
    }

}