.body {
    margin: 0;
    padding: 0;
}

@media screen and (min-device-width: 768px) {
    .body {
        padding-right: 15px;
    }
}

@media screen and (min-device-width: 1440px) {
    .body {
        display: flex;
    }
}

.body-sidebar {
    margin: 0;
    height: 100%;
}

