@import url("../stylefonts.css");

.language {
    display: flex;
    list-style: none;
    padding: 0;
}

.language__item {
    margin-right: 7px;
}

.language__link {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.language__link:hover {
    opacity: 0.7;
}

.language__link--active {
    color: #7E7E82;
}