.menu-slider {
    margin: 0;
    padding: 16px 0 0 16px;
    list-style: none;
    min-height: 114px;
}

.menu-slider__item {
    display: flex;
    text-decoration: none;
    width: 208px;
    height: 72px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background: white;
    padding: 0 16px 0 16px;
    justify-content: space-between;
    align-items: center;
}

.menu-slider__brand {
    max-height: 32px;
}

.menu-slider__icon {
    display: flex;
    width: 36px;
    height: 36px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.menu-slider__span {
    color: #FF3E79;
}

.menu-slider--hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .menu-slider--flex {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 16px;
    }

    .menu-slider__item {
        width: 192px;
    }
}
