.section {
    display: flex;
    align-items: start;
    background: #F8F8F8;
}

.section--direction--column {
    flex-direction: column;
}

@media screen and (min-device-width: 768px) {
    .section--direction--column {
        flex-direction: row;
    }
}

.section-brands {
    max-width: 1120px;
    border-top: 1px solid #41F6D7;
}