@import "variables";

.aside {

    &__divider {
        background: $clr-decor;
        width: 4px;
        height: 40px;
    }

    & > ul {
        display: none;

        @media screen and (min-width: $screen-xl) {
            display: flex;
        }
    }

    &--content-position {
        padding-top: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 40px;

        @media screen and (min-width: $screen-xl) {
            justify-content: space-between;
            width: 100%;
        }
    }
}
