@import "variables";

.brands {
    margin: 0;
    padding: 16px 0 0 16px;
    list-style: none;
    min-height: 114px;
    max-width: 1120px;

    @media screen and (min-width: $screen-md){
        overflow: hidden;
        max-height: 170px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 14px;
        row-gap: 16px;
    }
    &__item {
        display: flex;
        text-decoration: none;
        width: 208px;
        height: 72px;
        border: 1px solid $clr-brand-border;
        border-radius: 6px;
        background: $clr-bg;
        padding: 0 16px 0 16px;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: $screen-md) {
            width: 192px;
        }
    }

    &__img {
        max-height: 32px;
    }

    &__icon {
        display: flex;
        width: 36px;
        height: 36px;
        border: 2px solid $clr-basic;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }

    &__span {
        color: $clr-basic;
    }

    &--hidden {
        display: none;
    }
}
