@import "variables";

.header {
    display: block;
    border-bottom: 1px solid $clr-decor;
    padding-left: 10px;

    @media screen and (min-width: $screen-xl) {
        display: none;
    }

    &__nav-list {
        margin: 0;
        padding: 0 0 0 16px;
        height: 88px;
    }
}
