@import "variables";
@import "src/scss/fonts";

.language {
    display: flex;
    list-style: none;
    padding: 0;

    &__item {
        margin-right: 7px;
    }

    &__link {
        font-family: "TT Lakes", sans-serif;
        font-size: 16px;
        text-decoration: none;
        color: $clr-txt-nav;

        &:hover {
            opacity: 0.7;
        }

        &--active {
            color: $clr-txt-active;
        }
    }
}
