@import "variables";
@import "src/scss/fonts";

.menu {
    margin: 0;
    padding: 24px 0 0 16px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    min-height: 70px;

    @media screen and (min-width: $screen-xl){
        overflow: visible;
        flex-wrap: wrap;
        min-height: 110px;
    }

    &::-webkit-scrollbar {
        width: 0;
    }

    &__link {
        text-decoration: none;
        white-space: nowrap;
        text-align: center;
        font-family: "TT Lakes", sans-serif;
        font-size: 16px;
        color: $clr-txt-active;
        padding: 8px 20px 8px 20px;

        &:hover {
            opacity: 0.7;
        }

        &--active {
            background: $clr-bg;
            border: 2px solid $clr-decor;
            border-radius: 6px;
        }
    }

    &--bg--gray {
        background: $clr-bg-gr;
    }
}
