@import "variables";
@import "src/scss/fonts";

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    &__divider {
        display: none;
        background: $clr-divider-h;
        border-radius: 1px;
        width: 2px;
        height: 32px;

        @media screen and (min-width: $screen-md) {
            display: flex;
        }
    }

    &__item {
        display: flex;
        margin-right: 16px;

        &:hover {
            opacity: 0.7;
        }

        &--position--left {
            margin-right: auto;
            margin-left: 0;
        }

        &--position--right {
            margin-left: auto;
            margin-right: 0;
        }
    }

    &__text {
        align-self: center;
        text-decoration: none;
        font-family: "TT Lakes", sans-serif;
        font-size: 16px;
        color: $clr-txt-nav;
        margin-right: 8px;
    }

    &--display-none {
        display: none;

        @media screen and (min-width: $screen-md) {
            display: flex;
        }
    }
}
