@import "variables";

.popup-container {
    content: '';
    z-index: 4;
    background: $clr-bg-light;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    min-height: 100%;
    display: none;
    overflow: scroll;

    &--open {
        display: flex;
    }

    .popup-feedback {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background: $clr-bg;
        width: 100%;
        min-height: 100%;
        z-index: 5;
        padding-top: 24px;

        @media screen and (min-width: $screen-sm) {
            width: 440px;
            box-shadow: -2px 0px 4px rgba(14, 24, 80, 0.2);
        }
    }

    .popup-call-back {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background: $clr-bg;
        width: 100%;
        min-height: 100%;
        z-index: 5;
        padding-top: 24px;

        @media screen and (min-width: $screen-sm) {
            width: 440px;
            box-shadow: -2px 0px 4px rgba(14, 24, 80, 0.2);
        }
    }
}
