@import "variables";

.read-more {
    text-decoration: none;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $clr-txt-nav;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    &__span {
        padding-left: 16px;
    }

    &--margin {
        display: inline-block;
        margin: 24px 0 32px 32px;
    }

    &--hidden {
        display: none;

        @media screen and (min-width: $screen-md) {
            display: inline-block;
        }
    }
}
