@import "variables";

.section {
    display: flex;
    align-items: flex-start;
    background: $clr-bg-gr;

    &--direction--column {
        flex-direction: column;

        @media screen and (min-width: $screen-md) {
            flex-direction: row;
        }
    }
}

.section-cards {
    max-width: 1120px;
    border-top: 1px solid $clr-decor;
}

.section-offer {
    background: $clr-bg-gr;
    padding: 24px 0 50px 24px;
}
