@import "variables";
@import "fonts";

.sidebar {
    position: absolute;
    background: $clr-bg;
    z-index: 3;
    width: 320px;
    min-height: 100%;
    box-shadow: 2px 2px 20px rgba(14, 24, 80, 0.2);
    display: none;
    flex-direction: column;
    height: 100%;
    min-width: 320px;

    @media screen and (min-width: $screen-xl) {
        position: static;
        display: flex;
        z-index: auto;
        box-shadow: none;
    }

    &__e-mail {
        font-family: "TT Lakes", sans-serif;
        font-size: 16px;
        text-decoration: none;
        color: $clr-txt-nav;
    }

    &__footer {
        flex-shrink: 0;
        padding-left: 24px;
    }

    &__header {
        padding: 0 24px 0 8px;
    }

    &__nav-list {
        display: flex;
        justify-content: flex-start;
    }

    &__phone-number {
        font-family: "TTLakes-Bold", sans-serif;
        font-size: 24px;
        text-decoration: none;
        color: black;
    }
}
