@import "variables";

.swiper {
    background: #F8F8F8;
    max-width: 1120px;

    &::after {
        @media screen and (max-width: $screen-md) {
            content: '';
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
            bottom: 0;
            z-index: 2;
            background: linear-gradient(270deg, $clr-bg-gr 16.84%, rgba(248, 248, 248, 0.0001) 100%);
            width: 30px;
        }
    }

    &-slide {
        max-width: 240px;

        &:hover {
            opacity: 0.6;
        }
    }
}
