@import "variables";

.swiper {
    background: #F8F8F8;
    max-width: 1120px;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: linear-gradient(270deg, $clr-bg-gr 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        width: 30px;

        @media screen and (min-width: $screen-md) {
            display: none;
        }
    }

    .swiper-slide {
        max-width: 240px;

        &:hover {
            opacity: 0.6;
        }

        &--high-xl {
            min-height: 200px;
            max-width: 260px;

            &:not(:first-child):before {
                @media screen and (min-width: $screen-md) {
                    display: block;
                    position: relative;
                    width: 80%;
                    border-bottom: 1px solid $clr-divider-h;
                    content: '';
                    left: 10%;
                }
            }

            @media screen and (min-width: $screen-md) {
                min-width: 100%;
                min-height: 64px;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}

.swiper-wrapper {
    @media screen and (min-width: 768px) {
        max-width: 1104px;
    }
}

.swiper-pagination-bullet-active {
    background: $clr-pagination-actv;
}
