$clr-decor: #41F6D7;
$clr-divider-h: #EAEAEA;
$clr-brand-border: #EAEAEA;
$clr-bg: #ffffff;
$clr-bg-gr: #F8F8F8;
$clr-basic: #FF3E79;
$clr-txt-nav: #1B1C21;
$clr-txt-active: #7E7E82;


$screen-md: 768px;
$screen-xl: 1120px;
